.post-date {
  color: #ff0000; /* class="post-date" の要素に当たる */
}

#page-title {
  font-size: 32px; /* id="page-title" の要素に当たる */
}

nav a:hover {
  color: #ea580c; /* マウスを乗せるとオレンジに */
  text-decoration: underline;
}

article h2 {
  background: #fde68a;
  width: 300px;
  height: 300px;
} /* ブロック要素に黄色 */

small {
  display: block;
  padding: 24px;
  background: #bfdbfe;
}
